# React/Vite
node_modules/
dist/
.DS_Store
.env
.env.*
.vite/
*.log
.local/

# FastAPI (inside server folder)
server/__pycache__/
server/*.pyc
server/*.pyo
server/*.pyd
server/.env
server/.venv/
server/venv/
server/.mypy_cache/
server/.pytest_cache/
server/.DS_Store

# Other
server/public
vite.config.ts.*
*.tar.gz