# React/Vite
node_modules/
dist/
.DS_Store
.env
.env.*
.vite/
*.log
.local/
release/

# FastAPI (inside Server folder)
Server/__pycache__/
Server/**/__pycache__/
Server/**/*.pyc
Server/**/*.pyo
Server/**/*.pyd
Server/.env
Server/.venv/
Server/venv/
Server/.mypy_cache/
Server/.pytest_cache/
Server/.DS_Store

# Other
Server/public
vite.config.ts.*
*.tar.gz